label {
    display: block;
    margin: 0;
}

input {
    width: 275px;
}

input,
textarea {
    padding: 7px 10px;
    border: 2px solid var(--idle-gray);
    font: inherit;
    outline: none;
    color: #fff;
    background-color: var(--background);
    transition: border-color 0.2s;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    padding-top: 13px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    font-family: "Gerbera";
}

input:focus,
textarea:focus {
    border-color: var(--hover-gray);
}

.error {
    border-color: var(--error) !important;
    color: var(--error) !important;
}

textarea {
    width: 100%;
}

.float-label {
    position: relative;
}

.float-label-text {
    position: absolute;
    top: 14px;
    left: 16px;
    font-weight: normal;
    color: var(--white);
    pointer-events: none;
    transition: all 0.2s;
    font-family: "Gerbera";
}

.float-label-input::placeholder {
    opacity: 0;
    transition: all 0.2s;
}

.float-label-text:has(+ .float-label-input:focus),
.float-label-text:has(+ .float-label-input:not(:placeholder-shown)) {
    top: -9px;
    padding: -6px 3px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--background);
}

.float-label-text + .float-label-input:focus::placeholder {
    opacity: 1;
}